body, html {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.App {
  text-align: center;
  height: var(--vh);
  width: 100vw;
  background-color: var(--background-color);
}

.mobile {
  --vh: 100%;
  --padding-top: 50px;
  --padding-bottom: 100px;
  --width: 100%;
}

.desktop {
  --vh: 100vh;
  --padding-top: 120px;
  --padding-bottom: 0px;
}


.light {
  --background-color: #f7f7f7;
  --text-primary: #141414;
  --text-secondary: #141414;
  --color-pill: #242526;
  --text-pill: #efefef;
  transition: background-color 0.25s linear, color 0.25s linear;
}

.dark {
  --background-color: #18191a;
  --text-primary: #F5F5F5;
  --text-secondary: #F5F5F5;
  --text-tertiary: #61dafb;
  --color-pill: #efefef;
  --text-pill: #242526;
  transition: background-color 0.25s ease, color 0.25s ease;
}

.light img {
  filter: none;
}

.dark img {
  filter: invert(100%) sepia(27%) saturate(277%) hue-rotate(224deg) brightness(114%) contrast(92%);
}

.padding-space {
  padding-left: 75px;
  padding-right: 50px;
  padding-bottom: var(--padding-bottom);
  width: var(--width);
}

.padding-top {
  padding-top: var(--padding-top);
}

.bold {
  font-weight: bold !important;
}

.MuiTypography-h1 {
  font-size: 40px !important;
  font-weight: bold !important;
  text-align: left;
  color: var(--text-primary);
}

.MuiTypography-h2 {
  font-size: 25px !important;
  text-align: left !important;
  padding-top: 12px;
  color: var(--text-secondary);
}

.MuiTypography-h3 {
  font-size: 20px !important;
  text-align: left;
  color: var(--text-tertiary);
}

.MuiTypography-h4 {
  font-size: 18px !important;
  text-align: left;
  padding-top: 5px;
  color: var(--text-secondary);
}

.MuiTypography-h5 {
  font-size: 13px !important;
  text-align: left;
  padding-top: 5px;
  color: var(--text-secondary);
}


.Subtitle {
  opacity: 65%;
}

.logo {
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: left;
  /* display: block; */
}

.link:hover {
  opacity: 75%;
}

.margin-top {
  margin-top: 50px;
}

.margin-grid-item {
  margin-top: 25px;
}

.margin-toggle {
  margin-top: 15px;
  margin-left: 55px;
}

.text-align {
  text-align: left;
  justify-content: center;
  align-items: left;
}

.center-box {
  justify-content: center;
  align-items: center;
}

.padding-grid {
  padding-top: 15px;
}

.chip {
  background-color: var(--color-pill) !important;
  color: var(--text-pill) !important;
  opacity: 95%;
}

.chip:hover{
  opacity: 75%;
}

.grid:hover{
  opacity: 85%;
}

.link {
  color: var(--text-primary);
  padding-top: 20px;
  margin-left: 5px;
}

.link-grid { 
  display: flex;
  justify-content: flex-start;
}